body {
	background: url("images/comics.jpg");
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
	
}

div {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}

h1 {
	font-family: Georgia, serif;
	padding-top: 20px;
	text-transform: uppercase;
}

hr {
	width: 500px;
}

ul {
	list-style-type: none;
	padding: 10px;
}

img {
	padding-top: 20px;
	border-radius: 500px;
}

p {
	font-family: "Times New Roman", serif;
	line-height: 1.5em;
}

#slogan {
	font-style: italic;
}

footer {
	font-size: .90em;
	padding-bottom: 20px;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}