body {
	background: url("images/comics.jpg");
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia;
}

div {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.2);
}

h1 {
	padding-top: 20px;
	font-weight: bold;
}

hr {
	width: 460px;
}

ul {
	list-style-type: none;
	padding: 10px;
}

img {
	padding-top: 20px;
	border-radius: 500px;
}

#slogan {
	text-transform: uppercase;
	font-style: italic;
}

#contactme {
	font-size: .75em;
	padding-bottom: 20px;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}