@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato);
* {margin:0;padding:0;box-sizing:border-box;}
body {
	background: url("images/comics.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size: cover;
	color: #FFFFFF;
	font-size:16px;
	font-family: Lato, sans-serif;
	
}
section {
	background-color:#fff;
}
section#splash {
	background-color: rgba(0, 0, 0, 0.4);
	min-height:100vh;
}
footer {
	font-size: .90em;
	padding-bottom: 1em;
}

h1 {
	font-family: Oswald, sans-serif; 
	padding-top: 1em;
	text-transform: uppercase;
}

hr {
	margin:0 auto 0 auto;
	width: 10em;
}

ul {
	list-style-type: none;
	padding: 1em;
}

img {
	padding-top: 1em;
	border-radius: 50%;
}

p {
	line-height: 1.5em;
}

p#slogan {
	font-style: italic;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
